# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Bibek Shrestha
	email = bibekshrestha@gmail.com
[core]
	excludesfile = /Users/bibekshrestha/.gitignore_global
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
