# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Bibek Shrestha
	email = bibekshrestha@gmail.com
[core]
	excludesfile = /Users/bibekshrestha/.gitignore_global
	editor = nvim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	ctags = !.git/hooks/ctags
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	conflictstyle = diff3
[init]
	templatedir = ~/.git_template
